.card{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 40%;
    border: 1px solid black;
    border-radius: 16px;
}

.card #content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px solid black;
    border-radius: 16px;
    gap: 30px;
    padding: 1rem;
}

.card #content section{
    text-align: justify;
    border: 1px solid black ;
    border-radius: 16px;
    padding: 1rem;
}